.detailedUserCardStyle  {
  margin: 10px;
  padding: 10px;
}

.userImage  {
  height: 20em;
  width: 20em;
}

.showUserHeader  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3px;
  padding: 5px;
}
